<!DOCTYPE html>
<html>
<title>MicroBit App</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
<style>
.button {
  background-color: "w3 teal";
  border: none;
  color: white;
  padding: 20px 60px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50%;
  -webkit-transition-duration: 0.4s; /* for Safari */
  transition-duration: 0.4s;
}

.button2{
  background-color: "w3 teal";
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50%;
}

.button:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}
</style>

<body>

<!-- Side Navigation -->
<nav class="w3-sidebar w3-bar-block w3-card w3-animate-left w3-center w3-teal" style="display:none" id="mySidebar">
  <h1 class="w3-xxxlarge w3-text-theme">Side Navigation</h1>
  <button class="w3-bar-item w3-button" onclick="w3_close()">Close <i class="fa fa-remove"></i></button>
</nav>


<!-- Header -->
<header class="w3-container w3-teal" id="myHeader">
  <!-- <i onclick="w3_open()" class="fa fa-bars w3-xlarge w3-button w3-theme"></i> -->
  <div class="w3-center">
  <h1 class="w3-xxxlarge w3-animate-bottom">Edit MicroBit Configuration</h1>
    <div class="w3-padding-32">
    </div>
  </div>
</header>

<center>
<form action="{{ url_for('update_config') }}" method="post">
<button class = "button button:hover w3-teal" type ="submit" >Save settings</button>
</form>
</center> 

<div class="w3-row-padding w3-center w3-margin-top">
<div class="w3-third">
  <div class="w3-card w3-container" style="min-height:460px">
  <h2>Twitter</h2><br>
  <img src="static/twitter-logo-vector-download.jpg" alt="twitter" style="width:180px;height:180px;">
  <h3>Usernames</h3>

  <form action="{{ url_for('delete_usernames') }}" method="post">
    <select name="usernames_delete" size="{{ 5 if mconf.u_list_len < 5 else mconf.u_list_len }}" multiple>
      {% for user in mconf.username_list %}
        <option value={{ user }}>{{ user }}</option>
      {% endfor %}
    </select>
    <br>
    <button class="button2 w3-teal" type="submit">Delete</button>
  </form>

  <p>Hold down the Ctrl (windows) / Command (Mac) button to select multiple options.</p>

  <form action="{{ url_for('add_username') }}" method="post">
    <input type="text" name="username_add">
    <button class = "button2 w3-teal" type="submit">Add</button>
  </form>

  <p>note: maximum length of 32 characters</p>

  <h3>Hashtags</h3>

  <form action="{{ url_for('delete_hashtags') }}" method="post">
    <select name="hashtags_delete" size="{{ 5 if mconf.h_list_len < 5 else mconf.h_list_len }}" multiple>
      {% for hashtag in mconf.hashtag_list %}
        <option value={{ hashtag }}>{{ hashtag }}</option>
      {% endfor %}
    </select>
    <br>
    <button class = "button2 w3-teal" type="submit">Delete</button>
  </form>
  <p>Hold down the Ctrl (windows) / Command (Mac) button to select multiple options.</p>

  <form action="{{ url_for('add_hashtag') }}" method="post">
    <input type="text" name="hashtag_add">
    <button class = "button2 w3-teal" type="submit">Add</button>
  </form>
  <br>

  <p>note: maximum length of 32 characters</p>

  </div>
</div>

<div class="w3-third">
  <div class="w3-card w3-container" style="min-height:460px">
  <h2>Weather</h2><br>
  <img src="static/weat.png" alt="weather" style="width:180px;height:180px;">

  <h3>Weather locations</h3>

  <form action="{{ url_for('delete_wlocations') }}" method="post">
	  <select name="wlocation_delete" size="{{ 5 if mconf.wl_list_len < 5 else mconf.wl_list_len }}" multiple>
      {% for location in mconf.weatherLocation_list %}
        <option value="{{ location }}">{{ location }}</option>
      {% endfor %}
    </select>
    <br>
    <button class= "button2 w3-teal" type="submit">Delete</button>
  </form>
  <p>Hold down the Ctrl (windows) / Command (Mac) button to select multiple options.</p>


  <form action="{{ url_for('add_wlocation') }}" method="post">
    <input type="text" name="wlocation_add">
    <button class = "button2 w3-teal" type="submit">Add</button>
  </form>
  <br>
  <p>Note: Only valid locations will be added. Max length 32 characters</p>

  </div>
</div>

<div class="w3-third">
  <div class="w3-card w3-container" style="min-height:460px">
  <h2>Sports</h2><br>
  <img src="static/sports.jpg" alt="sports" style="width:190px;height:190px;">
  <h3>Leagues</h3>
  <br>
  <form action="{{ url_for('select_league') }}" method="post">
  <INPUT TYPE="Radio" Name="league" Value="Championship">EFL Championship
  <INPUT TYPE="Radio" Name="league" Value="Ligue" >France Ligue 2
    <br>
  <button class = "button2 w3-teal" type = "submit"> Update</button>
  </form>
  </div>



</div>
</div>

<div class="w3-container">
<hr>
<h2 class="w3-center"></h2>
<div class="w3-border">
  <center><h2>Messages</h2><br>
  <img src="static/message-icon.png" alt="message" style="width:180px;height:180px;">

  <h3>Preset Messages</h3>
  <p>Use the multiple attribute to allow the user to select more than one value.</p>
  <form action="{{ url_for('delete_pmessages') }}" method="post">
    <select name="pmessage_delete" size={{ mconf.pm_list_len }} multiple>
      {% for message in mconf.presetMsg_list %}
        <option value="{{ message }}">{{ message }}</option>
      {% endfor %}
    </select>
    <br>
    <button class = "button2 w3-teal" type="submit">Delete</button>
  </form>
  <p>Hold down the Ctrl (windows) / Command (Mac) button to select multiple options.</p>

  <form action="{{ url_for('add_pmessages') }}" method="post">
    <input type="text" name="pmessages_add">
    <button class = "button2 w3-teal" type="submit">Add</button>
  </form></center>

<hr><hr>
<br>
</div>
</div>

<!-- Footer -->
<!-- <footer class="w3-container w3-theme-dark w3-padding-16">
  <h3>Footer</h3>
  <p> hi </p>
  <div style="position:relative;bottom:55px;" class="w3-tooltip w3-right">
    <span class="w3-text w3-theme-light w3-padding">Go To Top</span> 
    <a class="w3-text-white" href="#myHeader"><span class="w3-xlarge">
    <i class="fa fa-chevron-circle-up"></i></span></a>
  </div>
  <p> hi again </p>
</footer> -->



<!-- Script for Sidebar, Tabs, Progress bars -->
<script>
// Side navigation
function w3_open() {
  var x = document.getElementById("mySidebar");
  x.style.width = "100%";
  x.style.fontSize = "40px";
  x.style.paddingTop = "10%";
  x.style.display = "block";
}
function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
}


var mybtn = document.getElementsByClassName("testbtn")[0];
mybtn.click();

</script>

</body>
</html>
